:root {
    --bgColor: #895FAB;
    --bgColor-darkAlt: #422555;
    --textColor: #D8B4E2;
    --bgAlt: #BC96E6;
    --bgColor-dark: #61308a;
}

/* Universal Class: 
    - Set margin and padding to 0 so browsers don't add any
    - change font-family to the google font I chose */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}

/* Make all elements background color purple */
html {
    background-color: var(--bgColor);
}

/* Theme Switcher Button to change to my testing
space for the webpages and other functionality */
.theme-btn {
    height: 30px;
    width: 60px;
    background-color: var(--bgColor);
    border: solid var(--bgAlt) 2px;
    box-shadow: 2px 2px 2px var(--bgColor-darkAlt);
    margin: 20px;
    padding: 2px;
}
.theme-btn a {
    text-decoration: none;
    font-weight: 700;
}

/* The Styling for the whole header section (Parent) */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--bgColor-darkAlt);
    width: 100%;
}

/* Title element inside header (Child)*/
.webTitle {
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}
.webTitle:hover {
    cursor: pointer;
}
/* MAIN NAVIGATION (child) */
.navMain {
    width: 60%;
}
.navMain ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
.navMain ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.navMain ul li a:hover {
    font-style: italic;
    color:#D8B4E2;
    transform: scale(1.05);
}
.navMain ul li a:not(:hover) {
    font-style: normal;
}

.navAlt {
    display:none;
}

/* BIOGRAPHY (Parent) */
.bio {
    height: 200px;
    margin: 60px 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    border: solid 3px var(--bgAlt);
    border-radius: 5px;
}
.bioH {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: var(--bgAlt);
    border: solid var(--bgAlt) 3px;
    background-color: var(--bgColor-darkAlt);
    border-radius: 25px;
}
.bioText {
    width: 500px;
    margin-left: 10px;
    margin-right: 30px;
    font-weight: 900;
    color: var(--bgColor-darkAlt);
}
.profPic img{
    height: 150px;
    padding: 10px;
    position: relative;
}

/* Card container and section styling */
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.card1, .card2, .card3, .card4 {
    position: relative;
    width: 47%;
    display: flex;
    align-items: center;
    height: 400px;
    z-index: 0;
    padding: 0 5px;
    display: flex;
    justify-content: center;
}
.card1Alt {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/* Header Styling (children) */
#H1, #H2, #H3 , #H4 {
    position: absolute;
    left: 40px;
    bottom: 340px;
    padding: 10px;
    z-index: 3;
    background-color: var(--bgColor-dark);
    color: var(--textColor);
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--bgColor-darkAlt);
}
#H1 {
    bottom: 500px;
    width: 200px;
    left: 3rem;
    text-align: center;
}

/* Content container for card (Parent) */
.cardImage {
    min-width: 40vw;
    width: auto;
    height: 320px;
    box-shadow: 3px 3px 5px #422555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Content inside container for cards (child) */
#image1,
#image2,
#image3,
#image4 {
    object-fit: cover;
    background-position: 50% 50%;
    background-size: cover;
}
#image1 {
    background-image: url("../images/banner.png");
}
#image2 {
    background-image: url("https://global.discourse-cdn.com/freecodecamp/original/3X/8/9/89bf55e940bbca5333a8bf904c6da7212386f3aa.png");
}
#image3 {
    background-image: url("https://miro.medium.com/v2/resize:fit:2000/1*BPSx-c--z6r7tY29L19ukQ.png");
}
#image4 {
    background-image: url("https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU");
}
.image1 {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    background-size: contain;
}
/* -----------------HOVER ANIMATIONS------------------ */

#image1,
#H1, 
#image2,
#H2,
#image3,
#H3,
#image4,
#H4 {
    transition: transform .2s ease-in;
}

.card1:hover #image1,
.card1:hover #H1,
.card2:hover #image2,
.card2:hover #H2,
.card3:hover #image3,
.card3:hover #H3,
.card4:hover #image4,
.card4:hover #H4{
    background-color: var(--bgAlt);
    color: var(--bgColor-darkAlt);
    box-shadow: 2px 2px 5px var(--bgColor-darkAlt);
    transform: scale(1.01) translateY(-10px);
    border: #BC96E6 solid 2px;
    cursor: pointer;
}



.card1:hover .cardImage::after,
.card2:hover .cardImage::after,
.card3:hover .cardImage::after,
.card4:hover .cardImage::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}




/* Resume section (Parent)*/
.resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(var(--bgColor) 0%, var(--bgColor-darkAlt) 30%);
    margin-top: 100px;
}

/* image container for resume (child <-- parent) */
.resumeImage {
    margin: 100px;
    box-shadow: 0px 20px 80px black;
    transition: transform ease-out 0.4s;
    width: 50%;
}

/* Image inside image container (child) */
.resumeImage img{
    max-width: 50vw;
    width: auto;
    height: auto;
    border: solid 5px var(--bgAlt);
    border-radius: 5px;
}
/* Hover stuff for image */
.resumeImage:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.resumeImage:hover img {
    box-shadow: 1px 1px 30px 3px var(--bgAlt);
}

/* Text container for content inside resume (parent) */
.resumeText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
}
/* Header (child) */
.resumeText h1 {
    background-color:#61308a;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 30px;
}
/* Text (child) */
.resumeText span {
    padding: 25px;
    text-shadow: 15px 15px 10px black;
    line-height: 35px;
}
.resumeText span a {
    color: var(--bgColor);
    text-decoration: none;
}





.contactContainer {
    display: flex;
    height: 300px;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-around;
}
.contactContainer--header {
    cursor: default;
}
.contactContainer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.contactContainer div h1 {
    padding: 0px 100px;
}
.contactContainer ul {
    display: flex;
    padding: 0px 100px;
}

.contactContainer ul li {
    list-style-type: none;
    text-align: center;
    padding: 0 20px;
}
.contactContainer ul li a {
    text-decoration: none;
    color: var(--textColor);
}

/* Mobile/Smaller screen functionality */
@media screen and (max-width: 1000px) {

    /* Change Nav */
    .navMain {
        display: none;
    }
    .navAlt {
        display: flex;
        justify-content: end;
        width: 40%;
        margin-right: 5rem;
    }
    .navAlt ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
    }
    .navAlt ul li a {
        font-size: 10px;
        text-decoration: none;
        color: white;
    }
    .navAlt ul li a:hover {
        font-style: italic;
        color:#D8B4E2;
        transform: scale(1.05);
    }
    .navAlt ul li a:not(:hover) {
        font-style: normal;
    }




    /* Column from row */
    .resume {
        flex-direction: column;
    }
    /* make image larger */
    .resumeImage img {
        max-width: 80vw;
        width: 100%;
        padding: 10px auto;
        margin: 10px auto;
    }
    .resumeImage {
        border: none;
        box-shadow: none;
        margin-top: 0;
    }
    .resumeImage:hover img {
        box-shadow: 1px 1px 15px 2px var(--bgAlt);
    }
    /* text styling
        - Make text take up more space and fill the space appropriately
        - remove unneccessary text that makes page look bad
        - make sections (cards) take up 100% of the width */

    .resumeText {
        justify-content: center;
        width: 60%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .resumeText span {
        margin: 0px;
        padding: 15px;
    }
    .resumeText span {
        display:none;
    }



    /* One card per line */
    .cardContainer {
        flex-direction: column;
        width: 100%;
    }
    .card1, .card2, .card3, .card4 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .cardImage, #image1{
        min-width: 80%;
        margin: 20px;
        padding: 0;
        height: 320px;
        width: auto;
    }
    
    #image1 {
        margin-left: 0;
    }
    #H1 {
        position: absolute;
        left: 40px;
        bottom: 340px;
        padding: 10px;
        z-index: 3;
        background-color: var(--bgColor-dark);
        color: var(--textColor);
        border-radius: 20px;
        box-shadow: 5px 5px 10px var(--bgColor-darkAlt);
        width: auto;
    }
    
}
/* End of media query */
footer {
    background-color:#61308a;
    height: 60px;
}