:root {
    --bgColor: #895FAB;
    --bgColor-darkAlt: #422555;
    --textColor: #D8B4E2;
    --bgAlt: #BC96E6;
    --bgColor-dark: #61308a;
}
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bgColor);
}

.theme-btn {
    height: 30px;
    width: 60px;
    background-color: var(--bgColor);
    border: solid var(--bgAlt) 2px;
    box-shadow: 2px 2px 2px var(--bgColor-darkAlt);
    margin: 20px;
    padding: 2px;
}
.theme-btn a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--bgColor-darkAlt);
    width: 100%;
}

.webTitle {
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}
.webTitle:hover {
    cursor: pointer;
}
/* MAIN NAVIGATION */
.navMain {
    width: 60%;
}
.navMain ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
.navMain ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.navMain ul li a:hover {
    font-style: italic;
    color:#D8B4E2;
    transform: scale(1.05);
}
.navMain ul li a:not(:hover) {
    font-style: normal;
}

/* BIOGRAPHY */
.bio {
    height: 100px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    border: solid 3px var(--bgAlt);
    border-radius: 20px;
}


.cardContainer, .sectionOne, .sectionTwo, .sectionThree,.sectionFour {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    flex-direction: row;
    margin-top: 20px;
    z-index: 0;
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour {
    height: 400px;
    width: 50%;
}

.cardContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.bioContent {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 5px #422555;
}

#contentOne {
    background-image: url(/assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contentTwo {
    background-image: url("https://global.discourse-cdn.com/freecodecamp/original/3X/8/9/89bf55e940bbca5333a8bf904c6da7212386f3aa.png");
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: left;
}
#contentThree {
    background-image: url("https://miro.medium.com/v2/resize:fit:2000/1*BPSx-c--z6r7tY29L19ukQ.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contentFour {
    background-image: url("https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#H1, #H2, #H3 , #H4 {
    position: relative;
    bottom: 170px;
    left: 200px;
    padding: 10px;
    margin-left: -20%;
    z-index: 3;
    width: 200px;

    background-color: var(--bgColor-dark);
    color: var(--textColor);

    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--bgColor-darkAlt);
}

#H2  {
    width: 220px;
}
#H4 {
    width: 250px;
}
/* HOVER ANIMATIONS */

.sectionOne:hover #contentOne,.sectionOne:hover #H1 {
    background-color: var(--bgAlt);
    color: var(--bgColor-darkAlt);
    box-shadow: 2px 2px 5px var(--bgColor-darkAlt);
    transform: scale(1.01) translateY(-10px);
}
#contentOne, #H1, #contentTwo, #H2, #contentThree, #H3, #contentFour, #H4 {
    transition: transform .2s ease-in;
}
.sectionTwo:hover #contentTwo,.sectionTwo:hover #H2 {
    background-color: var(--bgAlt);
    color: var(--bgColor-darkAlt);
    box-shadow: 2px 2px 5px var(--bgColor-darkAlt);
    transform: scale(1.01) translateY(-10px);
}

.sectionThree:hover #contentThree,.sectionThree:hover #H3 {
    background-color: var(--bgAlt);
    color: var(--bgColor-darkAlt);
    box-shadow: 2px 2px 5px var(--bgColor-darkAlt);
    transform: scale(1.01) translateY(-10px);
}

.sectionFour:hover #contentFour,.sectionFour:hover #H4 {
    background-color: var(--bgAlt);
    color: var(--bgColor-darkAlt);
    box-shadow: 2px 2px 5px var(--bgColor-darkAlt);
    transform: scale(1.01) translateY(-10px);
}



/* .sectionOne:hover #contentOne, .sectionTwo:hover #contentTwo,
.sectionThree:hover #contentThree,.sectionFour:hover #contentFour {
    border: solid var(--textColor) 2px;
} */

/* ---------------Hover Cover--------------- */

.sectionOne:hover .bioContent::after, .sectionTwo:hover .bioContent::after, .sectionThree:hover .bioContent::after, .sectionFour:hover .bioContent::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:1000px){
    .cardContainer {
        flex-direction: column;
    }
    .sectionOne, .sectionTwo, .sectionThree, .sectionFour {
        width: 100%;
    }
}